* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

header {
    position: relative;
    /* для подьема секции promo под submenu*/
}

/* Меню*/
nav {
    min-height: 50px;
    background-color: #212121;
}

.menu {
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 13px 70px;
}

.menu .menu_link {
    color: #ffffff;
    font-size: 15px;
    font-weight: 300;
}

/* граница в меню*/
.menu .menu_item {
    border-right: 2px dotted black;
    padding-right: 28px;
}

/*стилизация строки с логотипом*/
.submenu {
    position: absolute;
    /* для подьема секции promo под submenu*/
    width: 100%;
    /* для подьема секции promo под submenu*/
    height: 84px;
    background-color: rgba(0, 0, 0, .6);
    /*если мы для всего блока укажем opacity то прозрачным будет все в блоке, а не фон
    opacity: 0.6;
    лучше через альфаканал - background-color: rgba(0,0,0, .6);*/
    padding: 18px 0 34px 0;
}

/* Style for "uber777.mo" */
.submenu .submenu_logo {
    padding-top: 16px;
    width: 244px;
    height: 21px;
    color: #ffffff;
    font-size: 26px;
    font-weight: 400;
    text-transform: uppercase;
}

/* Style for "Официальны" */
.submenu .submenu_off {
    width: 225px;
    height: 13px;
    opacity: 0.5;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
}

/* Style for "Звоните на" */
.submenu .submenu_tel_text {
    min-width: 136px;
    min-height: 11px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 300;
}

/* Style for "8 495 797" */
.submenu .submenu_tel {
    width: 157px;
    height: 16px;
    color: #ffffff;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
}

/* Style for "Rounded Re" */
.submenu .submenu_btn,
.promo .promo_btn {
    width: 172px;
    height: 46px;
    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
    /*если убрать border кнопка станет лучше:)
    border: 3px solid rgba(0, 0, 0, 0.07);*/
    border: none;
    border-radius: 4px;
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
    /* Style for "заказать з" */
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

/* Style for "Layer 3" */

.promo {
    min-height: 664px;
    background: url('../img/1_bg.jpg');
    text-align: center;
    color: #ffffff;
    margin-bottom: 0;
    padding: 151px 0 135px 0;
}

.promo .promo_header {
    /* Style for "КОМПАНИЯ U" */
    font-weight: 700;
    text-transform: uppercase;
    /* Text style for "КОМПАНИЯ U" */
    font-size: 60px;
}

/* Text style for "ПРИГЛАШАЕМ" */
.promo .promo_subheader {
    font-weight: 700;
    font-size: 36px;
    text-transform: uppercase;
}

/* Style for "Компания U" */
.promo .promo_desc {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 23px;
}

.promo .promo_btn {
    margin-top: 116px;
}

.eight_cause {
    min-height: 764px;
    padding: 71px 0 68px 0;
}

.eight_cause .label {
    /* Style for "Rectangle" */
    display: block;
    width: 112px;
    height: 24px;
    background-color: #000000;
    /* Style for "преимущест" */
    color: #ffffff;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    padding-top: 3px;
}

.eight_cause .title {
    margin-top: 38px;
    margin-bottom: 40px;
    /* Style for "8 причин н" */
    color: #222222;
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.eight_cause .eight_cause_item{
    display: flex; 
    justify-content: space-around;
    align-items: stretch;
    margin: 17px 0;
}

.eight_cause .eight_cause_item .eight_cause_round {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 113px;
    height: 113px;
    background-color: #1eacc7;
    border-radius: 100%;
}

.eight_cause .eight_cause_item .eight_cause_text {
    /* Style for "Никаких на" */
    width: 341px;
    color: #202020;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
    text-align: justify;
}

.eight_cause .eight_cause_item .eight_cause_text span {
    /* Text style for "Н, икаких" */
    color: #1eacc7;
    font-size: 17px;
    font-weight: 400;
    line-height: 21px;
    text-align: justify;
}